body {
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  word-wrap: break-word;

  background-color: #f2f2f2;
}

.container-site {
  width: 1200px;
  margin: 0 auto;

  position: relative;

  background-color: #ffffff;

  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="number"] {
  -moz-appearance: textfield;
      appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input::-ms-clear {
   display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 0;
  left: 530px;

  z-index: 1;
}

/*------------------------------Навигация---------------*/
.main-header {
  position: relative;
}

.main-menu {
  line-height: 26px;
  font-weight: 700;

  margin: 0 72px;
}

.link-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.link-item {
  display: inline-block;
  width: 209px;

  padding: 15px 0;

  list-style: none;

  vertical-align: middle;
}

.link-item:nth-child(3) {
  margin-left: auto;
}

.link-item:nth-child(1),
.link-item:nth-child(2) {
  padding-right: 33px;
  
  text-align: left;
}


.link-item:nth-child(3),
.link-item:nth-child(4) {
  padding-left: 33px;

  text-align: right;
}

.link-item a:hover,
.link-item a:focus {
  color: #81b3d2;
}

.link-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.active-link {
  color: #766357;
}

/*------------------------------Подвал---------------*/

.main-footer {
  background-color: #ffffff;
}

.index-footer {
  width: 1200px;

  position: absolute;
  left: 0;
  bottom: 0;

  box-sizing: border-box;

  margin: 0 auto;

  opacity: 0.9;
}

.wrap-footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  padding: 33px 0;
}

.label-sedona {  
  width: 400px;

  margin: 0;
  
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: center;
  vertical-align: middle;
}

.social-list {
  width: 400px;

  justify-content: center;

  display: inline-flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
  vertical-align: middle;
}

.social-item {
  margin: 3px 3px;
  padding: 0
}

.social-btn {
  width: 46px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #81b3d2;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #669ec0;

  transition-duration: 500ms;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active svg {
  opacity: 0.3;
}

.copyright {
  width: 400px;

  flex-shrink: 0;
  justify-content: center;
  
  margin: 0;

  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  line-height: 26px;
  color: #000000;
}

.copyright-link {
  display: inherit;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: #81b3d2;

  transition: 300ms;
  transition-timing-function: ease-in-out;
}

.copyright-link:active path {
  fill: #bdbbbc;
}

.copyright span {
  width: 74px;

  display: inline-block;

  margin-right: 8px;

  vertical-align: middle;
}

/*------------------------------Главная страница------------------------------------------------------------------*/
/*------------------------------Вступление фон---------------*/

.intro-background {
  position: relative;

  width: 1200px;
  height: 508px;

  margin-bottom: 61px;

  background: url("../img/intro-polygon.svg") bottom no-repeat,
              url("../img/intro-background.jpg") 50% 21% no-repeat;
  background-color: #81b3d2;
}

.intro-background::after {
  content: "";

  position: absolute;

  top: 75px;
  left: 370px;

  width: 459px;
  height: 353px;

  background: url("../img/intro-info.svg") no-repeat;

}

.intro-description {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 26px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

/*------------------------------Блок причины---------------*/
.causes {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;

   margin-bottom: 57px;
}

.causes h2 {
  margin: 0 auto;
  margin-bottom: 51px;
  padding: 0 30px;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.cause-item {
  width: 400px;

  display: inline-block;  
  
  text-align: center;
  vertical-align: middle;
}

.cause-photo {
  width: 1200px;

  color: #ffffff;

  background: #81b3d2;
}

.wrap-cause-info {
  display: inline-block;

  margin-top: 47px;

  vertical-align: middle;
}

.cause-photo img {
  float: right;
}

.photo-rotate img {
  float: left;
}

.cause-item h3 {
  width: 151px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.cause-item span {
  width: 308px;

  display: block;
  margin: 0 auto;
  margin-bottom: 22px;
}

.cause-item p {
  width: 262px;
  margin: 0 auto;
}

.cause-photo p {
  width: 308px;
  margin-bottom: 50px;
}

.cause-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  position: relative;
}

.recommend {
  padding-top: 161px;
  padding-bottom: 82px;
}

.recommend p {
  width: 285px;
}

.recommend::before {
  content: "";
  position: absolute;
  top: 53px;

}

.recommend:nth-child(1)::before {
  width: 75px;
  height: 72px;

  top: 60px;
  left: 162px;

  background: url("../img/icon-1.svg") no-repeat;
}

.recommend:nth-child(2)::before {
  width: 74px;
  height: 70px;

  top: 61px;
  left: 563px;

  background: url("../img/icon-2.svg") no-repeat;
}

.recommend:nth-child(3)::before {
  width: 64px;
  height: 76px;

  top: 56px;
  left: 968px;

  background: url("../img/icon-3.svg") no-repeat;
}

.cause-background-gray {
  background: #eeeeee;

  padding: 47px 0 58px;
}

/*------------------------------Форма поиска---------------*/
.search-container {
  position: relative;
}

.search-container > p:nth-child(2) {
  font-size: 30px;
  font-weight: 700;
  text-align: center;

  margin: 0;
  margin-bottom: 32px;
  padding: 0 30px;
}

.search-container > p:nth-child(3) {
  line-height: 24px;
  text-align: center;

  margin: 0;
  margin-bottom: 47px;
  padding: 0 30px;
}

.wrap-visitors {
  display: flex;
  justify-content: space-between;

  margin-bottom: 54px;
}

.search-btn {
  display: block;

  padding: 31px 135px 29px 135px;
  margin: 0 316px 0 316px;

  color: #ffffff;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  user-select: none;

  background-color: #766357;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #604e43;
}

.search-btn:active {
 background-color: #503e33;

 color: rgba(255, 255, 255, 0.3);
}

.search-form {
  display: flex;
  flex-flow: column wrap;

  position: absolute;
  top: 100%;
  left: 316px;

  padding: 55px;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);

  z-index: 1;

  animation-name: index-form;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  transform-origin: 50% 0;
}

@keyframes index-form {
  0% {
    transform: scaleY(0.1);
  }

  40% {
    transform: scaleY(1.02);
  }

  60% {
    transform: scaleY(0.98);
  }

  80% {
    transform: scaleY(1.01);
  }

  100% {
    transform: scaleY(0.98);
  }

  80% {
    transform: scaleY(1.01);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.form-hide {
  display: none;
}

.form-error {
  animation: shake 0.6s;
}

.search-container label {
  width: 113px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: middle;
}

.search-container input {
  border: none;

  background-color: #f2f2f2;
}

.search-container input[value] {
  font-family: inherit;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.search-container input[type="text"] {
  display: block;

  width: 301px;
  min-height: 26px;

  padding: 6px 35px 6px 10px;
}

.search-container input[type="number"] {
  width: 38px;
  height: 36px;

  text-align: center;
  vertical-align: top;
}

.search-visitors {
 position: relative;

 margin: 0;
}

.search-visitors:last-child {
  text-align: right;
}

.search-visitors:first-child label {
  margin-right: 41px;
}

.search-visitors:last-child label {
  margin-right: 25px;
}

.search-date {
  width: 458px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  position: relative;
}

.search-btn-calendar {
  width: 21px;
  height: 22px;

  vertical-align: middle;

  position: absolute;
  top: 7px;
  left: 428px;

  border: none;

  background: url("../img/calendar.svg") no-repeat;

  opacity: 0.2;

  cursor: pointer;
}

.search-btn-calendar:hover,
.search-btn-calendar:focus {
  opacity: 1;
}

.search-btn-calendar:active {
  background: url("../img/calendar-active.svg") no-repeat;
  outline: none;
}

.search-btn-min {
  width: 38px;
  height: 38px;
  margin: 0 -4px;

  position: relative;

  border: none;
  color: #000000;
  vertical-align: middle;

  cursor: pointer;

  background-color: #f2f2f2;
}

.search-btn-plus {
  width: 38px;
  height: 38px;
  margin-left: -4px;

  position: relative;

  border: none;
  color: #000000;
  vertical-align: middle;

  cursor: pointer;

  background-color: #f2f2f2;
}

.search-btn-min::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 13px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.search-btn-plus::before {
  content: "";

  width: 12px;
  height: 3px;

  position: absolute;
  top: 20px;
  left: 13px;

  background-color: #a9a9a9;
}

.search-btn-plus::after {
  content: "";

  width: 12px;
  height: 3px;

  position: absolute;
  top: 20px;
  left: 13px;

  background-color: #a9a9a9;
  transform: rotate(90deg);
}

.search-date
 input[placeholder]:hover {
    background-color: #ebebeb;
}

.search-date input[placeholder]:focus {
  background-color: #ffffff;
  outline: none;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.search-visitors input[placeholder]:hover {
    background-color: #ebebeb;
}

.search-visitors input[placeholder]:focus {
    background-color: #ffffff;
    outline: none;
    box-shadow: inset 0 0 0 2px #e5e5e5;
}

.search-btn-plus:hover::before,
.search-btn-plus:hover::after {
  background-color: #000000;
}

.search-btn-plus:focus::before,
.search-btn-plus:focus::after {
  background-color: #000000;
}

.search-btn-plus:active::before,
.search-btn-plus:active::after {
  background-color: #81b3d2;
}

.search-btn-min:hover::before,
.search-btn-min:focus::before {
  background-color: #000000;
}

.search-btn-min:active::before {
  background-color: #81b3d2;
}

.search-btn-submit {
  width: 458px;

  padding: 16px 20px;

  color: #ffffff;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
  border: none;

  background-color: #81b3d2;

  cursor: pointer;
}

.search-btn-submit:hover,
.search-btn-submit:focus {
  background-color: #669ec0;
}

.search-btn-submit:active {
 background-color: #5496bd;

 color: rgba(255, 255, 255, 0.3);
}

/*------------------------------Карта---------------*/

.map {
  width: 1200px;
  height: 593px;
}

/*------------------------------Внутренняя страница------------------------------------------------------------------*/

/*------------------------------Фильтр---------------*/
.filters {
  display: flex;
  flex-flow: column wrap;
}

.filter {
  display: flex;
  justify-content: space-between;

  line-height: 21px;
  color: #ffffff;

  padding: 27px 72px 6px;

  background: #81b3d2 url("../img/filter-background.jpg") no-repeat;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  margin-right: 118px;

  font-size: 16px;
  text-align: left;
  font-weight: 700;
}

.checkbox + label {
  padding-left: 40px;
  
  user-select: none;

  cursor: pointer;
}

.checkbox + label::before {
  content: "";
  width: 19px;
  height: 19px;

  position: absolute;
  top: -2px;
  left: 0;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.checkbox:checked + label::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3px;
  left: 0;

  background: url("../img/checkbox-on.svg") no-repeat;
  background-size: 29px;
}

.checkbox:checked:focus + label::before {
  outline: 2px solid #4d90fe;
}

.checkbox:focus + label::before {
  outline: 2px solid #4d90fe;
}

.checkbox:disabled + label{
  opacity: 0.5;
}

.wrapper-filter-column {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.filter-select {
  margin: 0;
  padding: 0;
  margin-right: 123px;
}

.filter-select legend {
  padding-bottom: 25px;
}

.filter-select ul {
  margin: 0;
  padding: 0;
}

.filter-item-checkbox {
  position: relative;

  list-style: none;

  padding-bottom: 25px;
}

.filter input[type="number"] {
  display: inline-block;
  width: 50px;
  min-height: 21px;
  margin: 0;

  color: inherit;
  font: inherit;
  vertical-align: baseline;
  line-height: 21px;

  background: none;
  border: none;
}

.filter-cost-select {
  width: 318px;

  margin-top: 27px;
  margin-right: 61px;
}

.filter-cost-select legend {
  margin-bottom: 10px;
}

.cost-output {
  position: relative;

  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 2px;

  font-size: 0;
}

.cost-output::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  transform: translate(-50%, -50%);

  background: #ffffff;
}

.cost-output label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  padding: 5px 0 4px 65px;

  cursor: pointer;
}

.cost-output label:last-child {
  padding-left: 76px;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle:focus {
  outline: 2px solid #4d90fe;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-btn {
  display: block;
  margin: 0 85px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-btn:hover {
  color: #000000;

  background-color: #ffffff;
}

/*------------------------------Сортировка---------------*/
.filters-sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 72px;
}

.filters-sorting p:nth-child(2) {
  flex-shrink: 0;

  margin: 0;
  margin-right: 47px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.wrap-sorting-link {
  display: inline-flex;
  align-items: center;
  flex-grow: 1;

  margin-right: 50px;
}

.wrap-sorting-link p {
  flex-wrap: wrap;
  display: inline-block;

  margin: 0;
  margin-right: 37px;
  padding: 0;

  font-size: 12px;
  vertical-align: middle;
}

.wrap-sorting-link ul {
  margin: 0;
  padding: 0;
}

.filters-sorting ul{
  list-style: none;
}

.sort-item {
  display: inline-block;

  padding-right: 32px;

  vertical-align: middle;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
  color: rgba(0, 0, 0, 0.3);
}

.sort-link:hover,
.sort-link:focus {
  color: #81b3d2;

  border: none;
}

.sort-link-active {
  color: #81b3d2;

  border: none;
}

.sort-link:active {
  color: #000000;
}

.wrap-order {
  flex-shrink: 0;

  width: 35px;
  height: 12px;
  
  position: relative;
}

.sort-order-link {
  display: block;

  border: 5.5px solid transparent;
  border-top: 11px solid #cacaca;
}

.down-link {
  position: absolute;
  top: 2px;
  right: 1px;
}

.up-link {
  position: absolute;
  bottom: 0;
  left: 0;

  transform: rotate(180deg);
}

.down-link:hover,
.down-link:focus {
  border: 5.5px solid transparent;
  border-top: 11px solid #000000;
}

.down-link:active {
  border: 5.5px solid transparent;
  border-top: 11px solid #81b3d2;
}

.up-link:hover,
.up-link:focus {
  border: 5.5px solid transparent;
  border-top: 11px solid #000000;
}

.up-link:active {
  border: 5.5px solid transparent;
  border-top: 11px solid #81b3d2;
}

.sort-active-link {
  border: 5.5px solid transparent;
  border-top: 11px solid #81b3d2;
}

/*------------------------------Список отфильтрованных---------------*/
.hotels-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0;

  list-style: none;

  border-bottom: 1px solid #f2f2f2;
}

.hotel-item {
  display: flex;
  justify-content: space-between;
  align-content: space-between;

  padding: 30px 72px;

  border-top: 1px solid #f2f2f2;
}

.wrap-hotel-info {
  width: 650px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.hotel-photo {
  flex-shrink: 0;

  margin: 0;
  margin-right: 30px;
}

.hotel-photo img {
  display: block;
}

.wrap-type-cost {
  width: 182px;
  margin-bottom: 13px;

  display: flex;

  flex-grow: 1;
  justify-content: space-between;
}

.hotel-type {
  max-width: 550px;
}

.hotel-price {
  padding-left: 20px;
}

.wrap-rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 20px;

  text-align: right;
}

.hotel-stars img {
  margin-left: 2px;
}

.hotels-list {
  margin: 0;
}

.hotels-list h3 {
  margin: 0;
  margin-bottom: 9px;
  margin-top: -5px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}


.hotel-link:hover,
.hotel-link:focus {
  color: #81b3d2;
}

.hotel-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-more {
  width: 100px;

  display: inline-block;

  color: #ffffff;
  text-align: center;
  font-weight: 700;
  vertical-align: top;

  margin-right: 2px;
  padding: 3px 5px;

  background-color: #81b3d2;
}

.hotel-more:hover,
.hotel-more:focus {
  background-color: #669ec0;
}

.hotel-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-reserve {
  width: 132px;

  display: inline-block;

  color: #ffffff;
  text-align: center;
  font-weight: 700;
  vertical-align: top;

  margin-right: 6px;
  padding: 3px 5px;

  background-color: #766357;
}

.hotel-reserve:hover,
.hotel-reserve:focus {
  background-color: #604e43;
}

.hotel-reserve:active {
  background-color: #503e33;

  color: rgba(255, 255, 255, 0.3);
}

.hotel-score {
  width: 100px;

  padding: 2px 5px;
  margin: 0;

  text-align: center;
  vertical-align: top;
  color: #666666;

  background-color: #f2f2f2;
}

.hotel-stars {
  margin: 0;
  margin-bottom: 43px;
}